@{
    ViewData["Title"] = "Salvar";
}


<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-widht, initial-scale=1" />
    <title>Preferência</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/PreferenciaStyle.css">
</head>

<body id="naodacerto" style="background-color: #E5EFF2;">
    <div class="cabecalho"></div>
    <img src="~/Imagens/logo.png" class="logo">

    <p class="like">Would you like to log in? That's gonna save your results.</p>


    <a href="~/Login/Register"><input class="yes" type="button" value="  yes!  " /></a>
    <a href="~/Login/TemporaryUser"><input class="not" type="button" value="not now!" /></a>
    <div id="background-wrap">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        <div class="bubble x9"></div>
        <div class="bubble x10"></div>
    </div>
    <div class="rodape"></div>
</body>
</html>



