@{
    ViewData["Title"] = "Index";
}

<html>

<head>
    <title>Intermediaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap-4.3.1-dist/css/">
    <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="~/css/IntermediariaStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">


</head>

<body id="naodacerto" style="background-color: #E5EFF2;">
    <div id="cabecalho"></div>
    <img src="~/Imagens/logo.png" class="logo">

    <div class="called">
        <p id="inter">Ok! How would you like to be called?</p>
        <input class="TempUser" type="text" id="user-name" name="user-name" size="40" />
        <input class="lets" type="button" value="Let's do it" onclick="Lets()" />
    </div>
    <div id="background-wrap">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        <div class="bubble x9"></div>
        <div class="bubble x10"></div>
    </div>
    <div id="rodape"></div>

    <script type="text/javascript">
        function Lets() {
            var u = document.getElementById("user-name").value;
            sessionStorage.setItem("TempUser", u);
            location.href = "@Url.Action("GoToOp")";
        }
    </script>



</body>
</html>



@*<html>

<head>
    <title>Intermediaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap-4.3.1-dist/css/">
    <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="~/css/IntermediariaStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">


</head>

<body id="naodacerto" style="background-color: #E5EFF2;">
    <div id="cabecalho"></div>
    <img src="~/Imagens/logo.png" style=" width: 110px; height: 97px; text-align: center; position:absolute; left:596px; top: 27px">

    <p id="inter">Ok! How would you like to be called?</p>
    <div class="called">
        <input class="box" type="text" name="user-name" size="40" style="height: 4%;" />
        <a href="@Url.Action("GoToOp")"><input class="lets" type="button" value="Let's do it" /></a>
    </div>
    <div id="background-wrap">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        <div class="bubble x9"></div>
        <div class="bubble x10"></div>
    </div>
    <div id="rodape"></div>
</body>
</html>*@



