@{
    ViewData["Title"] = "Personality";
}


<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-widht, initial-scale=1" />
    <title>Perguntas</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styleperguntas.css">

</head>

<body>

    <div class="cabecalho"></div>
    <div id="dvCentro">
        <div class="perguntasWrapper">
            <div class="pergunta">
                <p class="titulo">1 - How do you usually spend your saturday night?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP1" value="1" class="rdP1" /> <span class="sP1">At home, watching tv shows</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP1" value="2" class="rdP1" /> <span class="sP1">Partying</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">2 – Are you often day dreaming?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP2" value="1" class="rdP2" /> <span class="sP2">All the time</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP2" value="2" class="rdP2" /> <span class="sP2">No, I keep my feet on the ground always</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">3 - Are you impulsive?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP3" value="1" class="rdP3" /> <span class="sP3">No...?</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP3" value="2" class="rdP3" /> <span class="sP3">YES</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">4 - Do you overthink everything?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP4" value="1" class="rdP4" /> <span class="sP4">It´s no use crying over the spilled milk</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP4" value="2" class="rdP4" /> <span class="sP4">Everyday, everynight</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">5 - You make choices with your head or your heart?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP5" value="1" class="rdP5" /> <span class="sP5">Heart</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP5" value="2" class="rdP5" /> <span class="sP5">Head</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">6 – Do you work well under preassure?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP6" value="1" class="rdP6" /> <span class="sP6">Why are you asking me that???</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP6" value="2" class="rdP6" /> <span class="sP6">+ preassure, + results</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">7 – With people you don't know, you act:</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP7" value="1" class="rdP7" /> <span class="sP7">Quiet and reserved</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP7" value="2" class="rdP7" /> <span class="sP7">Extroverted and chill</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">8 – Does the end justifies the means?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP8" value="1" class="rdP8" /> <span class="sP8">Yes</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP8" value="2" class="rdP8" /> <span class="sP8">No</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">9 – Do you like philosophy?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP8" value="1" class="rdP8" /> <span class="sP8">Yes, I'm free from the cave</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP8" value="2" class="rdP8" /> <span class="sP8">No, what cave?</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">10 - Do you get your hands dirty?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP8" value="1" class="rdP8" /> <span class="sP8">It's worth it in the end</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP8" value="2" class="rdP8" /> <span class="sP8">I'd rather keep them clean</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">11 – Do you take things lying down?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP8" value="1" class="rdP8" /> <span class="sP8">I always speak my mind!</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP8" value="2" class="rdP8" /> <span class="sP8">I think a lot about what I say</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">12 – Do you consider yourself an artistic person?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP8" value="1" class="rdP8" /> <span class="sP8">I can't draw for sh*t</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP8" value="2" class="rdP8" /> <span class="sP8">I'm Michelangelo himself</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">13 – Do you do good regardless of who it is ?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP8" value="1" class="rdP8" /> <span class="sP8">Yes</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP8" value="2" class="rdP8" /> <span class="sP8">No</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">14 – Do you open up with others?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP8" value="1" class="rdP8" /> <span class="sP8">I'm an open book</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP8" value="2" class="rdP8" /> <span class="sP8">I keep most things to myself</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">15 – Who are you during a presentation?</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP8" value="1" class="rdP8" /> <span class="sP8">The one who speaks</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP8" value="2" class="rdP8" /> <span class="sP8">The one who changes the slides</span></p>
            </div>
            <br />
            <div class="pergunta">
                <p class="titulo">16 – During this test, you:</p>
                <p class="resposta1"><input checked="checked" type="radio" name="rdP8" value="1" class="rdP8" /> <span class="sP8">Took half an hour in each question</span></p>
                <br />
                <p class="resposta2"><input type="radio" name="rdP8" value="2" class="rdP8" /> <span class="sP8">Were straight to the point</span></p>
            </div>
            <br />
            <br />

            <button id="btnVerificar" class="button" style="
            color: #000;
            text-align: center;
            border: none;
            font-size: 80%;
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 1%;
            padding-bottom: 1%;
            height: 12%;
            left: 40%;
            position: absolute;
            margin-bottom: 5%;
            margin-top: 5%;
            top: 65%;
            background-color: #aed2fa;
            font-family: 'Poppins', sans-serif;
            position: relative;
            hover: transform: scale(1.2)">
                Check results
            </button>
            <br />
        </div>
    </div>
    <div id="background-wrap">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        <div class="bubble x9"></div>
        <div class="bubble x10"></div>
    </div>


    <div class="rodape"></div>



</body>
</html>



